<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About Us - {{.title}}</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="">
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
        <style media="screen">
            div.image img{
                max-width:250px;
                display: inline-table;
            }
        </style>
	</head>
	<body class="landing">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                {{ template "menu.html" }}

                    <section id="banner" class="wrapper style1 special">
                        <div class="inner">
                            <!-- <img src="/public/images/fans.png" alt=""> -->
                            <header class="major">
                                <h2>What we can do ?</h2>
                                <p>
                                    Summerwind is a fully integrated ceiling fan manufacturer, <br/>
                                    controlling everything from the purchase of raw materials to finished goods.<br/>
                                    With capabilities that allow us to manufacture to any specification,<br/>
                                    we can meet any of the needs of the ceiling fan industry through OEM and private label programs.<br/>
                                </p>
                            </header>
                            <header class="major">
                                <h2>Where we can serves ?</h2>
                                <p>
                                    Summerwind serves clients worldwide through our corporate offices in Asia and North America. <br/>
                                    Our state of the art design and manufacturing facility is located in Jiangmen City in Guangdong Province China, <br/>
                                    and is capable of manufacturing over 2 million units per year to exact client specifications. <br/>
                                    For more information <a href="/contact-us">contact us</a>.
                                </p>
                            </header>
                            <a href="#two" class=" scrolly">Read More</a>
                        </div>
                    </section>

                <!-- Two -->
                    <section id="two" class="wrapper alt style2">
                        <section class="spotlight">
                            <div class="image" >
                                <img src="/public/images/ISO.jpg" alt="Certification" />
                                <img src="/public/images/ios2.jpg" alt="Certification" />
                                <img src="/public/images/iso3.jpg" alt="Certification" />
                            </div>
                            <div class="content">
                                <h2>Certification</h2>
                                <p>
                                    * ISO9001 Certified for quality manufacturing processes<br/>
                                    * Energy Star Partner with Energy Star testing on site<br/>
                                    * Quality control performed on every motor multiple times throughout the manufacturing process
                                </p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image">
                                <img src="/public/images/A48.jpg" alt="Team" />
                            </div>
                            <div class="content">
                                <h2>Team</h2>
                                <p>
                                    * UL qualified lab on site<br/>
                                    * CAD and 3D design capabilities<br/>
                                    * Custom painting
                                </p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image">
                                <img src="/public/images/PICT0152.jpg" alt="Profession" />
                                <img src="/public/images/DSC04331.jpg" alt="Profession" />
                            </div>
                            <div class="content">
                                <h2>Profession</h2>
                                <p>
                                    * Prototype model assembly<br/>
                                    * 120V and 220V capabilities-can match any specification<br/>
                                    * In house fan tooling as well as resign molding<br/>
                                    * Silicon steel motors, no sub standard products<br/>
                                    * Research and Development team on site<br/>
                                </p>
                            </div>
                        </section>
                    </section>

                <!-- Footer -->
                {{ template "footer.html" }}

            </div>

        <!-- Scripts -->
            <script src="/public/assets/js/jquery.min.js"></script>
            <script src="/public/assets/js/jquery.scrollex.min.js"></script>
            <script src="/public/assets/js/jquery.scrolly.min.js"></script>
            <script src="/public/assets/js/skel.min.js"></script>
            <script src="/public/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/public/assets/js/main.js"></script>

    </body>
</html>
