<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact Us{{.title}}</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="">
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                {{ template "menu.html" }}

                <!-- Three -->
                    <section id="three" class="wrapper style3 special">
                        <div class="inner">
                            <header class="major">
                                <h2>Contact Us</h2>
                                <p></p>
                            </header>
                            <ul class="features">
                                <li class="icon fa-flag-o">
                                    <h3>NORTH AMERICA</h3>
									<p>
                                    	Address : 749 Port America Place Suite 400 Grapevine, TX 76051<br/>
										Local: 817-421-3124<br/>
										Toll Free: 877-262-7511<br/>
										Fax: 866-406-4713<br/>
										Email: monte@summer-wind.info<br/>
									</p>
                                </li>
								<li class="icon fa-flag-o">
                                    <h3>ASIA</h3>
                                    <p>
										Address : No. 39 Jin Ou Road, Jianhai Jiangmen City Guangdong Province China 529000<br/>
									    Tel: 86-750-386-0860<br/>
									    Fax: 86-750-386-0238<br/>
									    Email: Chienho@summer-wind.info<br/>
									</p>
                                </li>
                            </ul>
                        </div>
                    </section>

                <!-- Footer -->
				{{ template "footer.html" }}

            </div>

        <!-- Scripts -->
            <script src="/public/assets/js/jquery.min.js"></script>
            <script src="/public/assets/js/jquery.scrollex.min.js"></script>
            <script src="/public/assets/js/jquery.scrolly.min.js"></script>
            <script src="/public/assets/js/skel.min.js"></script>
            <script src="/public/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/public/assets/js/main.js"></script>

    </body>
</html>
