{{ define "header.html" }}
    <head>
        <title>{{.title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
{{ end }}