<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.title}}</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="">
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

        <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Header -->
                {{ template "menu.html" }}
                <!-- Banner -->
                    <section id="banner">
                        <div class="inner">
                            <h2><img src="/public/images/logo.jpg" style="padding-top:15px;" alt=""></h2>
                            <p>
                                A global leader in the design and manufacture of quality ceiling fans and accessories.<br/>
                                Let us help you with your ceiling fan manufacturing needs!
                            </p>
                            <ul class="actions">
                                <li><a href="/about-us " class="button special">About Us</a></li>
                            </ul>
                        </div>
                        <a href="#two" class="more scrolly">Learn More</a>
                    </section>

                <!-- One
                    <section id="one" class="wrapper style1 special">
                        <div class="inner">
                            <header class="major">
                                <h2>Arcu aliquet vel lobortis ata nisl<br />
                                eget augue amet aliquet nisl cep donec</h2>
                                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
                            </header>
                            <ul class="icons major">
                                <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
                                <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
                                <li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
                            </ul>
                        </div>
                    </section>
                -->
                <!-- Two -->
                    <section id="two" class="wrapper alt style2">
                        <section class="spotlight">
                            <div class="image"><img src="/public/images/pic01.jpg" alt="" /></div><div class="content">
                                <h2>Magna primis lobortis<br />
                                sed ullamcorper</h2>
                                <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
                            </div>
                        </section>
                        <section class="spotlight">
                            <div class="image"><img src="/public/images/pic02.jpg" alt="" /></div><div class="content">
                                <h2>Tortor dolore feugiat<br />
                                elementum magna</h2>
                                <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
                            </div>
                        </section>
                    </section>

                <!-- Three
                    <section id="three" class="wrapper style3 special">
                        <div class="inner">
                            <header class="major">
                                <h2></h2>
                                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
                            </header>
                            <ul class="features">
                                <li class="icon fa-paper-plane-o">
                                    <h3>Arcu accumsan</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                                <li class="icon fa-laptop">
                                    <h3>Ac Augue Eget</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                                <li class="icon fa-code">
                                    <h3>Mus Scelerisque</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                                <li class="icon fa-headphones">
                                    <h3>Mauris Imperdiet</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                                <li class="icon fa-heart-o">
                                    <h3>Aenean Primis</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                                <li class="icon fa-flag-o">
                                    <h3>Tortor Ut</h3>
                                    <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                                </li>
                            </ul>
                        </div>
                    </section>
					-->
                <!-- CTA
                    <section id="cta" class="wrapper style4">
                        <div class="inner">
                            <header>
                                <h2>Arcue ut vel commodo</h2>
                                <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
                            </header>
                            <ul class="actions vertical">
                                <li><a href="#" class="button fit special">Activate</a></li>
                                <li><a href="#" class="button fit">Learn More</a></li>
                            </ul>
                        </div>
                    </section>
                -->
                <!-- Footer -->
				{{ template "footer.html" }}

            </div>

        <!-- Scripts -->
            <script src="/public/assets/js/jquery.min.js"></script>
            <script src="/public/assets/js/jquery.scrollex.min.js"></script>
            <script src="/public/assets/js/jquery.scrolly.min.js"></script>
            <script src="/public/assets/js/skel.min.js"></script>
            <script src="/public/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/public/assets/js/main.js"></script>

    </body>
</html>
