<!DOCTYPE HTML>
<html>
	<head>
		<title>LED - {{.title}}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                {{ template "menu.html" }}
				<!-- Main -->
					<article id="main">
						<header
                            style="background-image : url('/public/images/sourcing.png'); background-position:center;background-size:contain;background-attachment:inherit;color:black;"
                        >
							<h2 style="color:black;">LED</h2>
							<p>
                                Summerwind International offers product development advantages that few suppliers have the capacity or resources to do
                            </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3> superior sourcing and product management capabilities</h3>
								<p>
									<img src="/public/images/led.jpg" style=" float:left; padding-right: 10px;" alt="">
                                    Summerwind International, LLC, through its many industry partners offers factory-direct pricing, and specialized product development for contractors, wholesalers, retailers, fixture and equipment manufacturers, municipalities, schools, and other businesses with larger volume needs.
                                </p>

								<p>
                                    We are not a distributor or low volume supplier,
									rather an Asian based manufacturer with superior sourcing and product management capabilities,
									with a focus on developing specific products for specific client needs,
									while also supporting high quality general-purpose lighting products such as par lighting,
									street/parking lot lighting, linear lighting, landscape lighting, and tape lighting.
                                </p>

								<hr />

								<p>
									By eliminating overhead costs associated with warehousing and distribution,
									SummerWind offers discerning clients the best possible value,
									enabling them to maximize their budgets.
									All sourced products are tested, certified,
									and backed by Summerwind International, LLC, a multi-million dollar global corporation.
									<a href="/contact-us">contact us</a>
                                </p>
                                <p>
									Summerwind International offers product development advantages that few suppliers have the capacity or resources to do.
									For clients seeking private-labeling
                                </p>
							</div>
						</section>
					</article>

				<!-- Footer -->
                {{ template "footer.html" }}

			</div>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/skel.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>
