{{ define "menu.html" }}
<header id="header" class="alt">
    <h1><a href="/">Summer Wind</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/sourcing">Sourcing</a></li>
                        <li><a href="/led">LED</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
{{ end }}
