<!DOCTYPE HTML>

<html>
	<head>
		<title>Sourcing - {{.title}}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/public/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/public/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/public/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                {{ template "menu.html" }}
				<!-- Main -->
					<article id="main">
						<header
                            style="background-image : url('/public/images/sourcing.png'); background-position:center;background-size:contain;background-attachment:inherit;color:black;"
                        >
							<h2 style="color:black;">Sourcing</h2>
							<p>
                                An opportunity to find the best products, <br/>
                                at the best possible prices in order to remain competitive
                            </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>locate quality factories, build strong relationships</h3>
								<p>
                                    SummerWind International offers companies of all sizes, an opportunity to find the best products, at the best possible prices in order to remain competitive. We offer clients private labeling, assurances of warranty, product control, and overall relationship management, from devlopment to delivery.
                                </p>

								<p>
                                    Because Summerwind is based in Asia, with experienced staff on the ground, clients can be confident that communication barriers, quality issues, and costly travel expenses will never again be a concern.
                                </p>

								<hr />

								<p>
                                    Summerwind International is postitioned to work face-to-face with clients in North America, as well as face-to-face with factories in Asia. Our presence on both continents adds significant value through our ability to:
                                    <ul>
                                        <li>locate quality factories</li>
                                        <li>build strong relationships</li>
                                        <li>negotiate favorable payment terms</li>
                                        <li>flexible freight options</li>
                                        <li>reduced product delivery times</li>
                                        <li>increase the frequency of factory inspections</li>
                                        <li>perform regular quality control checks</li>
                                    </ul>
                                </p>
                                <p>
                                    Let us be your partner for sourcing in Asia…We’ll handle all the headaches so you don’t have to. If we don’t perform to your expectations, you don’t pay us a dime!
                                    <a href="/contact-us">contact us</a>
                                </p>
							</div>
						</section>
					</article>

				<!-- Footer -->
                {{ template "footer.html" }}

			</div>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/skel.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>
